@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f5f5f5;
    }
}

@layer components {
    .menu {
        @apply fixed flex items-center justify-between sm:justify-around text-xs py-3 shadow flex-col sm:flex-row bg-white h-auto sm:h-11 z-30 top-0 right-0 left-0 sm:px-4 m-0;
    }
}

@layer utilities {
    @media (min-width: 785px) {
        .menu.on {
            @apply -right-80;
        }
    }
}